navigate-card {
  div {
    padding: 16px;
    border-radius: 8px;
    box-shadow: rgb(226, 226, 226) 0px 0px 16px 0px;
    font-size: 1.25rem;
    font-weight: 500;
    color: #111827;
    cursor: pointer;
    width: fit-content;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  }

  div:hover {
    box-shadow: rgb(0 0 0 / 30%) 0 6px 8px 0;
    transform: scale(1.05);
  }
}
